:root{
    // COLORS
    --color-background:#F5F5F5;
    --color-black:#0A0A0A;
    --color-dark-green: #0A402D;
    --color-light-green: #288F6A;


    // Fonts
    --font-raleway: 'Raleway', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


